
<meta property="og:type" content="blog">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.content | strip_html | truncate: 150 }}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
{% if page.image %}
<meta property="og:image" content="{{ page.image }}">
{% endif %}
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary">
{% if site.owner.twitter %}
<meta name="twitter:site" content="@{{ site.owner.twitter }}">
{% endif %}
