
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-footer">
      <div class="list-group">
        <a href="{{ site.baseurl }}/archives/#y-{{ page.date | date: '%Y' }}" class="list-group-item col-md-3 col-sm-4 col-xs-6">
          <i class="fa fa fa-archive fa-lg"></i> 
          <em itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</em>
        </a>
        {% for category in page.categories %}
        <a href="{{ site.baseurl }}/categories/#{{ category | handleize | downcase }}" class="list-group-item col-md-3 col-sm-4 col-xs-6">
          <i class="fa fa-folder-open fa-lg"></i> <em itemprop="keywords">{{ category | capitalize }}</em>
          <span class="badge">{{ site.categories[category] | size }}</span>
        </a>
        {% endfor %}
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags/#{{ tag | handleize | downcase }}" class="list-group-item col-md-3 col-sm-4 col-xs-6">
          <i class="fa fa-tag fa-lg"></i> <em itemprop="keywords">{{ tag }}</em>
          <span class="badge">{{ site.tags[tag] | size }}</span>
        </a>
        {% endfor %}
    </div>
  </div>
</div>
