<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
  <head>
    {% include meta.html %}
    <title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.name }}</title>
    {% include ogp.html %}
    {% include css.html %}
    {% include old_ie.html %}
  </head>
  <body>
    {% include navber.html %}
    <div id="content">
      <div class="container">
        <article itemscope itemtype="http://schema.org/{{ site.schema_article_type }}" itemref="owner">
          {% include post_header.html %}
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div itmprop="articleBody">
                {{ content }}
              </div>
            </div>
          </div>
          {% include post_footer.html %}
        </article>
      </div>
    </div>
    {% include footer.html %}
    {% include back_to_top.html %}
    {% include js.html %}
    {% include addthis.html %}
  </body>
</html>
